<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>AkaBlas Wunschkonzert</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="AkaBlas Wunschkonzert">
    <meta name="application-name" content="AkaBlas Wunschkonzert">
    <meta name="msapplication-TileColor" content="#001555">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="{{ url_for('static', path='/styles/modern-normalize.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/styles/base.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/styles/activepoll/activepoll.css') }}"
          rel="stylesheet"/>
</head>
<body>
<div class="center">
    {% set condition = active_poll is not none %}
    <div id="idle" style="display: {{ 'none' if condition else 'block' }}">
        <h1>Aktuell ist keine Abstimmung aktiv.</h1>
    </div>
    <div id="active-poll" style="display: {{ 'block' if condition else 'none' }}">
        {% if condition %}
            {% set total_votes = active_poll.option_one.votes + active_poll.option_two.votes %}
            {% if total_votes == 0 %}
                {% set total_votes = 1 %}
            {% endif %}
            {% set option_one_percentage = 100 * active_poll.option_one.votes / total_votes %}
            {% set option_two_percentage = 100 * active_poll.option_two.votes / total_votes %}
        {% else %}
            {% set option_one_percentage = 0 %}
            {% set option_two_percentage = 0 %}
        {% endif %}
        {% set option_one_percentage = 0 %}
        {% set option_two_percentage = 0 %}
        <h1 id="active-poll-question">{{ active_poll.question if condition else '' }}</h1>
        <div class="results-container">
            <div id="option-one" class="option-container">
                <h3 id="option-one-text">{{ active_poll.option_one.text if condition else '' }}</h3>
                <div id="option-one-bar" class="poll_bar_content" style="width: {{ option_one_percentage }}%">
                    <div id="option-one-percentage" class="poll_bar_contour">
                        {{ option_one_percentage | round(2) }} %
                    </div>
                </div>
            </div>
            <div id="option-two" class="option-container">
                <h3 id="option-two-text">{{ active_poll.option_two.text if condition else '' }}</h3>
                <div id="option-two-bar" class="poll_bar_content" style="width: {{ option_two_percentage }}%">
                    <div id="option-two-percentage" class="poll_bar_contour">
                        {{ option_two_percentage | round(2) }} %
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{{ url_for('static', path='./scripts/reconnecting-websocket.js') }}"></script>
<script src="{{ url_for('static', path='./scripts/commons.js') }}"></script>
<script src="{{ url_for('static', path='./scripts/activepoll/websocket-listen.js') }}"></script>
</html>