<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>AkaBlas Wunschkonzert</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="AkaBlas Wunschkonzert">
    <meta name="application-name" content="AkaBlas Wunschkonzert">
    <meta name="msapplication-TileColor" content="#001555">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="{{ url_for('static', path='/styles/modern-normalize.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/styles/base.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/styles/index/radios.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="center">
    <h1>AkaBlas Wunschkonzert</h1>
    <div id="active-poll" style="display: {{ 'block' if active_poll is not none else 'none' }}">
        {% set poll_uid = active_poll.uid if active_poll is not none else '' %}
        <div>
            <h2 id="active-poll-question">{{ active_poll.question }}</h2>
        </div>
        <div>

            <fieldset>
                {% set checked = 'checked' if active_poll is not none and active_poll.option_one.uid == current_option_uid else '' %}
                {% set text = active_poll.option_one.text if active_poll is not none  else 'option_one' %}
                {% set uid = active_poll.option_one.uid if active_poll is not none  else '' %}
                <input type="radio" id="option_one" name="poll_options"
                       value={{ uid }} onChange="sendVote('{{ poll_uid }}')" {{ checked }}>
                <label id="option_one_label" for="option_one">{{ text }}</label>
                {% set checked = 'checked' if active_poll is not none and active_poll.option_two.uid == current_option_uid else '' %}
                {% set text = active_poll.option_two.text if active_poll is not none  else 'option_two' %}
                {% set uid = active_poll.option_two.uid if active_poll is not none  else '' %}
                <input type="radio" id="option_two" name="poll_options"
                       value={{ uid }} onChange="sendVote('{{ poll_uid }}')" {{ checked }}>
                <label id="option_two_label" for="option_two">{{ text }}</label>
            </fieldset>
            {% set voted = (current_option_uid is not none) %}
            <div id="thanks" style="visibility: {{ 'inherit' if voted else 'hidden' }}">
                <h2>Vielen Dank für die Teilnahme!</h2>
            </div>
        </div>
    </div>

    <div id="idle" style="display: {{ 'block' if active_poll is none else 'none' }}">
        <h3>In Kürze könnt Ihr an dieser Stelle selbst den Verlauf unseres Konzerts am 30.09. im
            Audimax bestimmen!</h3>
        <h2>Kommt später noch einmal vorbei!</h2>
    </div>
    <div>
</body>
<script src="{{ url_for('static', path='./scripts/reconnecting-websocket.js') }}"></script>
<script src="{{ url_for('static', path='./scripts/commons.js') }}"></script>
<script src="{{ url_for('static', path='./scripts/index/cookies.js') }}"></script>
<script src="{{ url_for('static', path='./scripts/index/index.js') }}"></script>
<script src="{{ url_for('static', path='./scripts/index/websocket-listen.js') }}"></script>
<script src="{{ url_for('static', path='./scripts/index/radios.js') }}"></script>
</html>